{# This is the twig base file. Edit this for your needs. Or create a new layout to extend from. #}
{% block base_head_container %}

    {% include 'templates/layouts/helpers/base-head.twig' %}
{% endblock %}
{% block base_wp_title %}
    <title>{{ wp_title }}</title>
{% endblock %}
{{ function('wp_head') }}
{% block head %}
    {# It is possible to overwrite this block and add custom code to the head #}
{% endblock %}

</head> {# Opened in base-head.twig #}

{# Base body. Overwrite if needed. #}
<body class="{{ body_class }}" data-template="base.twig" id="badubed_body_{{ function('get_queried_object_id') }}">
    <a class="skip-link screen-reader-text" data-template="base.twig" href="#content">{{ _e( 'Skip to content', 'badubed') }}</a>
    <header {{ header_class }} data-template="base.twig" id="header_{{ function('get_queried_object_id') }}">
        {% block header %}

        {% endblock %}
    </header>
    <main class="main" id="content_{{ function('get_queried_object_id') }}" data-template="base.twig">
        {% block content %}
            <!-- This will be overwritten by the content block in the inheriting .twig file -->
        {% endblock %}
    </main>
    <footer id="footer_{{ function('get_queried_object_id') }}" data-template="base.twig">
        {% block footer %}
        {# This can also be overwritten #}
        <div class="site-info">
			<a href="{{ __( 'https://wordpress.org/', 'badubed' )|e('esc_url') }}">
				{# translators: %s: CMS name, i.e. WordPress. #}
                {{ __( 'Proudly powered by %s', 'badubed' )|format('WordPress')}}
			</a>
			<span class="sep"> | </span>
                {# translators: 1: Theme name, 2: Theme author. #}
                {{ __( 'Theme: %1$s by %2$s.', 'badubed')|format( 'badubed', '<a href="//doedejaarsma.nl">Doede Jaarsma communicatie</a>' ) }}

		</div><!-- .site-info -->
        {% endblock %}
        {{ function('wp_footer')}}
    </footer>
</body>
</html>